<!DOCTYPE html>
html(lang='fr', dir='ltr')
  head
    |  <meta charset="utf-8"/>
    title= pageTitle
    |  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    |  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    |  <meta content="initial-scale=1" name="viewport"/>
    meta(name='description', description=pageDescription)
    |  <link rel="canonical" href="https://messe-basse-production.com/"/>
    |  <link rel="stylesheet" href="/assets/lib/ScrollBar.bundle.css"/>
    |  <link rel="stylesheet" href="/assets/dist/MBP.bundle.css"/>
    include ../includes/favicon.pug
    |  <!-- Open graph metas -->
    meta(property='og:title', content=pageTitle)
    |  <meta property="og:url" content="https://messe-basse-production.com/"/>
    |  <meta property="og:image" content="/assets/img/logo-social.png"/>
    meta(property='og:description', content=pageDescription)
    |  <meta property="og:site_name" content="Messe Basse Production"/>
    |  <meta property="og:type" content="website"/>
    |  <!-- Twitter card meta -->
    |  <meta name="twitter:card" content="summary_large_image"/>
    |  <!--   <meta name="twitter:site" content="@nomtwitter"> -->
    meta(property='twitter:title', content=pageTitle)
    meta(property='twitter:description', content=pageDescription)
    |  <meta name="twitter:image:src" content="/assets/img/logo-social.png"/>
    |  <!-- Matomo analytics https://matomo.org/ -->
    |  <script>
    |var _paq = window._paq = window._paq || [];
    |/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    |_paq.push(['trackPageView']);
    |_paq.push(['enableLinkTracking']);
    |(function() {
    |  var u="//matomo.mycozy.space/";
    |  _paq.push(['setTrackerUrl', u+'matomo.php']);
    |  _paq.push(['setSiteId', '26']);
    |  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    |  g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    | })();
    |  </script>
  body(data-catalog=catalog)
|   <nav id="navigation" class="site-nav">
|     <a href="/creation" id="link-creation" class="link-creation selected" data-nls="NAVBAR_CREATION">Création</a>
|     <a href="/evenement" id="link-events" class="link-event" data-nls="NAVBAR_EVENTS">Events</a>
|     <a href="/contact" id="link-contact" class="link-contact" data-nls="NAVBAR_ABOUT">À Propos</a>
|     <div id="socials" class="socials">
|       <a href="https://www.facebook.com/messebasseproduction/" class="link-facebook" target="_blank" rel="noopener noreferrer"><img src="/assets/img/logo/facebook.svg" alt="link-facebook"></a>
|       <a href="https://www.instagram.com/messebasseproduction/" class="link-instagram" target="_blank" rel="noopener noreferrer"><img src="/assets/img/logo/instagram.svg" alt="link-instagram"></a>
|       <a href="https://www.youtube.com/channel/UCrkeEx6T7cI2XEHspFxostA/" class="link-youtube" target="_blank" rel="noopener noreferrer"><img src="/assets/img/logo/youtube.svg" alt="link-youtube"></a>
|       <a href="https://messebasseproduction.bandcamp.com/" class="link-bandcamp" target="_blank" rel="noopener noreferrer"><img src="/assets/img/logo/bandcamp.svg" alt="link-bandcamp"></a>
|     </div>
|   </nav>
|   <main id="scene" class="release">
|     <div id="back-button" class="back-button">←</div>
|     <section>
|       <h1 id="album-title"></h1>
|       <h2 id="album-artist"></h2>
|       <div class="album-wrapper"></div>
|     </section>
|     <p id="credit-modal" class="credit-modal"><b>Messe Basse Production – 2021/<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span></b></p>
|   </main>
|   <div id="overlay" class="overlay"></div>
|   <div id="loading-overlay" class="loading-overlay"></div>
| <script type="text/javascript" src="/assets/lib/ScrollBar.bundle.js"></script>
| <script type="text/javascript" src="/assets/lib/CustomEvents.bundle.js"></script>
| <script type="text/javascript" src="/assets/dist/ReleasePage.bundle.js"></script>
| <script>
| window.ArtistPage = new ReleasePage();
| </script>
